*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} */

body{
    /* background-image: url(/assets/grilla.png); */
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        #2A6041 0%,
        #2A6041 50%,
        #F6AE2D 50%,
        #F6AE2D 100%
    );
}


@font-face {
    font-family: Pixelopolis;
    src: url(./assets/Pixelopolis.ttf);
}
h2 {
    font-family: Pixelopolis;
    font-size: 200px;
    color: #fff;
    text-align: center;
    border: 2px, solid, #F6AE2D;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}


ul button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #000000;
   font-size: 17px;
   /* font-weight: bold; */
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
  }
  
  .btnRandom {
   /* display: flex; */
   /* display: block; */
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.50em 1em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
.btnRandom:hover {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
.btnRandom:active {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }
/*#2A4849  VERDE*/
/*#F6AE2D AMARILLO*/
/*#2A6041 VERDE*/
